<a href="https://colab.research.google.com/github/binliu0630/Data_Manipulation/blob/master/Copy_of_2020_03_21_covid19_overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#hide
import numpy as np
import pandas as pd
from jinja2 import Template
from IPython.display import HTML

In [0]:
#hide

# FETCH
import getpass
base_url = 'https://raw.githubusercontent.com/pratapvardhan/notebooks/master/covid19/'
base_url = '' if (getpass.getuser() == 'Pratap Vardhan') else base_url
paths = {
    'mapping': base_url + 'mapping_countries.csv',
    'overview': base_url + 'overview.tpl'
}

def get_mappings(url):
    df = pd.read_csv(url)
    return {
        'df': df,
        'replace.country': dict(df.dropna(subset=['Name']).set_index('Country')['Name']),
        'map.continent': dict(df.set_index('Name')['Continent'])
    }

mapping = get_mappings(paths['mapping'])

def get_template(path):
    from urllib.parse import urlparse
    if bool(urlparse(path).netloc):
        from urllib.request import urlopen
        return urlopen(path).read().decode('utf8')
    return open(path).read()

def get_frame(name):
    url = (
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/'
        f'csse_covid_19_time_series/time_series_covid19_{name}_global.csv')
    df = pd.read_csv(url)
    # rename countries
    df['Country/Region'] = df['Country/Region'].replace(mapping['replace.country'])
    return df

def get_dates(df):
    dt_cols = df.columns[~df.columns.isin(['Province/State', 'Country/Region', 'Lat', 'Long'])]
    LAST_DATE_I = -1
    # sometimes last column may be empty, then go backwards
    for i in range(-1, -len(dt_cols), -1):
        if not df[dt_cols[i]].fillna(0).eq(0).all():
            LAST_DATE_I = i
            break
    return LAST_DATE_I, dt_cols

In [5]:
paths['overview']

'https://raw.githubusercontent.com/pratapvardhan/notebooks/master/covid19/overview.tpl'

In [6]:
paths['mapping']

'https://raw.githubusercontent.com/pratapvardhan/notebooks/master/covid19/mapping_countries.csv'

In [8]:
mapping = get_mappings(paths['mapping'])
mapping['df']

                            Country  ... Color
0                             China  ...   NaN
1                             Italy  ...   NaN
2                              Iran  ...   NaN
3                             Spain  ...   NaN
4                      Korea, South  ...   NaN
..                              ...  ...   ...
151                        Suriname  ...   NaN
152                        Tanzania  ...   NaN
153                     The Bahamas  ...   NaN
154                            Togo  ...   NaN
155  occupied Palestinian territory  ...   NaN

[156 rows x 5 columns]

In [9]:
mapping['replace.country']

{'Afghanistan': 'Afghanistan',
 'Albania': 'Albania',
 'Algeria': 'Algeria',
 'Andorra': 'Andorra',
 'Antigua and Barbuda': 'Antigua and Barbuda',
 'Argentina': 'Argentina',
 'Armenia': 'Armenia',
 'Aruba': 'Aruba',
 'Australia': 'Australia',
 'Austria': 'Austria',
 'Azerbaijan': 'Azerbaijan',
 'Bahrain': 'Bahrain',
 'Bangladesh': 'Bangladesh',
 'Belarus': 'Belarus',
 'Belgium': 'Belgium',
 'Benin': 'Benin',
 'Bhutan': 'Bhutan',
 'Bolivia': 'Bolivia',
 'Bosnia and Herzegovina': 'Bosnia and Herzegovina',
 'Brazil': 'Brazil',
 'Brunei': 'Brunei',
 'Bulgaria': 'Bulgaria',
 'Burkina Faso': 'Burkina Faso',
 'Cambodia': 'Cambodia',
 'Cameroon': 'Cameroon',
 'Canada': 'Canada',
 'Central African Republic': 'Central African Republic',
 'Chile': 'Chile',
 'China': 'China',
 'Colombia': 'Colombia',
 'Congo (Brazzaville)': 'Congo (Brazzaville)',
 'Congo (Kinshasa)': 'Congo (Kinshasa)',
 'Costa Rica': 'Costa Rica',
 "Cote d'Ivoire": "Cote d'Ivoire",
 'Croatia': 'Croatia',
 'Cruise Ship': 'Cruise Ship',
 'Cuba': 'Cuba',
 'Cyprus': 'Cyprus',
 'Czechia': 'Czechia',
 'Denmark': 'Denmark',
 'Dominican Republic': 'Dominican Republic',
 'Ecuador': 'Ecuador',
 'Egypt': 'Egypt',
 'Equatorial Guinea': 'Equatorial Guinea',
 'Estonia': 'Estonia',
 'Eswatini': 'Eswatini',
 'Ethiopia': 'Ethiopia',
 'Finland': 'Finland',
 'France': 'France',
 'French Guiana': 'French Guiana',
 'Gabon': 'Gabon',
 'Georgia': 'Georgia',
 'Germany': 'Germany',
 'Ghana': 'Ghana',
 'Greece': 'Greece',
 'Greenland': 'Greenland',
 'Guadeloupe': 'Guadeloupe',
 'Guam': 'Guam',
 'Guatemala': 'Guatemala',
 'Guernsey': 'Guernsey',
 'Guinea': 'Guinea',
 'Guyana': 'Guyana',
 'Holy See': 'Holy See',
 'Honduras': 'Honduras',
 'Hungary': 'Hungary',
 'Iceland': 'Iceland',
 'India': 'India',
 'Indonesia': 'Indonesia',
 'Iran': 'Iran',
 'Iraq': 'Iraq',
 'Ireland': 'Ireland',
 'Israel': 'Israel',
 'Italy': 'Italy',
 'Jamaica': 'Jamaica',
 'Japan': 'Japan',
 'Jersey': 'Jersey',
 'Jordan': 'Jordan',
 'Kazakhstan': 'Kazakhstan',
 'Kenya': 'Kenya',
 'Korea, South': 'South Korea',
 'Kosovo': 'Kosovo',
 'Kuwait': 'Kuwait',
 'Latvia': 'Latvia',
 'Lebanon': 'Lebanon',
 'Liberia': 'Liberia',
 'Liechtenstein': 'Liechtenstein',
 'Lithuania': 'Lithuania',
 'Luxembourg': 'Luxembourg',
 'Malaysia': 'Malaysia',
 'Maldives': 'Maldives',
 'Malta': 'Malta',
 'Martinique': 'Martinique',
 'Mauritania': 'Mauritania',
 'Mayotte': 'Mayotte',
 'Mexico': 'Mexico',
 'Moldova': 'Moldova',
 'Monaco': 'Monaco',
 'Mongolia': 'Mongolia',
 'Morocco': 'Morocco',
 'Namibia': 'Namibia',
 'Nepal': 'Nepal',
 'Netherlands': 'Netherlands',
 'New Zealand': 'New Zealand',
 'Nigeria': 'Nigeria',
 'North Macedonia': 'North Macedonia',
 'Norway': 'Norway',
 'Oman': 'Oman',
 'Pakistan': 'Pakistan',
 'Panama': 'Panama',
 'Paraguay': 'Paraguay',
 'Peru': 'Peru',
 'Philippines': 'Philippines',
 'Poland': 'Poland',
 'Portugal': 'Portugal',
 'Puerto Rico': 'Puerto Rico',
 'Qatar': 'Qatar',
 'Republic of the Congo': 'Republic of the Congo',
 'Reunion': 'Reunion',
 'Romania': 'Romania',
 'Russia': 'Russia',
 'Rwanda': 'Rwanda',
 'Saint Lucia': 'Saint Lucia',
 'Saint Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
 'San Marino': 'San Marino',
 'Saudi Arabia': 'Saudi Arabia',
 'Senegal': 'Senegal',
 'Serbia': 'Serbia',
 'Seychelles': 'Seychelles',
 'Singapore': 'Singapore',
 'Slovakia': 'Slovakia',
 'Slovenia': 'Slovenia',
 'Somalia': 'Somalia',
 'South Africa': 'South Africa',
 'Spain': 'Spain',
 'Sri Lanka': 'Sri Lanka',
 'Sudan': 'Sudan',
 'Suriname': 'Suriname',
 'Sweden': 'Sweden',
 'Switzerland': 'Switzerland',
 'Taiwan*': 'Taiwan*',
 'Tanzania': 'Tanzania',
 'Thailand': 'Thailand',
 'The Bahamas': 'The Bahamas',
 'Togo': 'Togo',
 'Trinidad and Tobago': 'Trinidad and Tobago',
 'Tunisia': 'Tunisia',
 'Turkey': 'Turkey',
 'US': 'US',
 'Ukraine': 'Ukraine',
 'United Arab Emirates': 'United Arab Emirates',
 'United Kingdom': 'United Kingdom',
 'Uruguay': 'Uruguay',
 'Uzbekistan': 'Uzbekistan',
 'Venezuela': 'Venezuela',
 'Vietnam': 'Vietnam',
 'occupied Palestinian territory': 'occupied Palestinian territory'}

In [11]:
mapping['map.continent']

{'Afghanistan': 'Asia',
 'Albania': 'Europe',
 'Algeria': 'Africa',
 'Andorra': 'Europe',
 'Antigua and Barbuda': 'North America',
 'Argentina': 'South America',
 'Armenia': 'Asia',
 'Aruba': 'South America',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Azerbaijan': 'Asia',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Belarus': 'Europe',
 'Belgium': 'Europe',
 'Benin': 'Africa',
 'Bhutan': 'Asia',
 'Bolivia': 'South America',
 'Bosnia and Herzegovina': 'Europe',
 'Brazil': 'South America',
 'Brunei': 'Asia',
 'Bulgaria': 'Europe',
 'Burkina Faso': 'Africa',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'North America',
 'Central African Republic': 'Africa',
 'Chile': 'South America',
 'China': 'Asia',
 'Colombia': 'South America',
 'Congo (Brazzaville)': 'Africa',
 'Congo (Kinshasa)': 'Africa',
 'Costa Rica': 'North America',
 "Cote d'Ivoire": 'Africa',
 'Croatia': 'Europe',
 'Cruise Ship': nan,
 'Cuba': 'North America',
 'Cyprus': 'Asia',
 'Czechia': 'Europe',
 'Denmark': 'Europe',
 'Dominican Republic': 'North America',
 'Ecuador': 'South America',
 'Egypt': 'Africa',
 'Equatorial Guinea': 'Africa',
 'Estonia': 'Europe',
 'Eswatini': 'Africa',
 'Ethiopia': 'Africa',
 'Finland': 'Europe',
 'France': 'Europe',
 'French Guiana': 'South America',
 'Gabon': 'Africa',
 'Georgia': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Greece': 'Europe',
 'Greenland': 'North America',
 'Guadeloupe': 'North America',
 'Guam': 'Oceania',
 'Guatemala': 'North America',
 'Guernsey': 'Europe',
 'Guinea': 'Africa',
 'Guyana': 'South America',
 'Holy See': 'Europe',
 'Honduras': 'North America',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 'Jamaica': 'North America',
 'Japan': 'Asia',
 'Jersey': 'Europe',
 'Jordan': 'Asia',
 'Kazakhstan': 'Asia',
 'Kenya': 'Africa',
 'Kosovo': 'Europe',
 'Kuwait': 'Asia',
 'Latvia': 'Europe',
 'Lebanon': 'Asia',
 'Liberia': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Malta': 'Europe',
 'Martinique': 'North America',
 'Mauritania': 'Africa',
 'Mayotte': 'Africa',
 'Mexico': 'North America',
 'Moldova': 'Europe',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Morocco': 'Africa',
 'Namibia': 'Africa',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'New Zealand': 'Oceania',
 'Nigeria': 'Africa',
 'North Macedonia': 'Europe',
 'Norway': 'Europe',
 'Oman': 'Asia',
 'Pakistan': 'Asia',
 'Panama': 'North America',
 'Paraguay': 'South America',
 'Peru': 'South America',
 'Philippines': 'Asia',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Puerto Rico': 'North America',
 'Qatar': 'Asia',
 'Republic of the Congo': 'Africa',
 'Reunion': 'Africa',
 'Romania': 'Europe',
 'Russia': 'Europe',
 'Rwanda': 'Africa',
 'Saint Lucia': 'North America',
 'Saint Vincent and the Grenadines': 'North America',
 'San Marino': 'Europe',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Singapore': 'Asia',
 'Slovakia': 'Europe',
 'Slovenia': 'Europe',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'South Korea': 'Asia',
 'Spain': 'Europe',
 'Sri Lanka': 'Asia',
 'Sudan': 'Africa',
 'Suriname': 'South America',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Taiwan*': 'Asia',
 'Tanzania': 'Africa',
 'Thailand': 'Asia',
 'The Bahamas': 'North America',
 'Togo': 'Africa',
 'Trinidad and Tobago': 'North America',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'US': 'North America',
 'Ukraine': 'Europe',
 'United Arab Emirates': 'Asia',
 'United Kingdom': 'Europe',
 'Uruguay': 'South America',
 'Uzbekistan': 'Asia',
 'Venezuela': 'South America',
 'Vietnam': 'Asia',
 'occupied Palestinian territory': 'Asia'}

In [14]:
#hide
COL_REGION = 'Country/Region'
# Confirmed, Recovered, Deaths
df = get_frame('confirmed')
# dft_: timeseries, dfc_: today country agg
df.head()

  Province/State Country/Region      Lat  ...  3/24/20  3/25/20  3/26/20
0            NaN    Afghanistan  33.0000  ...       74       84       94
1            NaN        Albania  41.1533  ...      123      146      174
2            NaN        Algeria  28.0339  ...      264      302      367
3            NaN        Andorra  42.5063  ...      164      188      224
4            NaN         Angola -11.2027  ...        3        3        4

[5 rows x 69 columns]

In [17]:
LAST_DATE_I, dt_cols = get_dates(df)
LAST_DATE_I, dt_cols

(-1, Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
        '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
        '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20',
        '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
        '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20',
        '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20',
        '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20',
        '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20',
        '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20',
        '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20',
        '3/25/20', '3/26/20'],
       dtype='object'))

In [20]:

dt_today = dt_cols[LAST_DATE_I]
dt_5ago = dt_cols[LAST_DATE_I-5]
dt_today, dt_5ago

('3/26/20', '3/21/20')

In [0]:
#hide
COL_REGION = 'Country/Region'
# Confirmed, Recovered, Deaths
df = get_frame('confirmed')
# dft_: timeseries, dfc_: today country agg
dft_cases = df
dft_deaths = get_frame('deaths')
dft_recovered = get_frame('recovered')
LAST_DATE_I, dt_cols = get_dates(df)

dt_today = dt_cols[LAST_DATE_I]
dt_5ago = dt_cols[LAST_DATE_I-5]


dfc_cases = dft_cases.groupby(COL_REGION)[dt_today].sum()
dfc_deaths = dft_deaths.groupby(COL_REGION)[dt_today].sum()
dfc_recovered = dft_recovered.groupby(COL_REGION)[dft_recovered.columns[-1]].sum()
dfp_cases = dft_cases.groupby(COL_REGION)[dt_5ago].sum()
dfp_deaths = dft_deaths.groupby(COL_REGION)[dt_5ago].sum()
dfp_recovered = dft_recovered.groupby(COL_REGION)[dft_recovered.columns[-6]].sum()

In [24]:
dfc_cases.head(2)

Country/Region
Afghanistan     94
Albania        174
Name: 3/26/20, dtype: int64

In [23]:
dfc_deaths.head(2)

Country/Region
Afghanistan    4
Albania        6
Name: 3/26/20, dtype: int64

In [25]:
dfc_recovered.head(2)

Country/Region
Afghanistan     2
Albania        17
Name: 3/26/20, dtype: int64

# ADD STATE AND COUNTY

In [51]:
# Add US STATE AND COUNTY
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv'
df = pd.read_csv(url)
df.head()

      FIPS     Admin2  ... Active                   Combined_Key
0  45001.0  Abbeville  ...      0  Abbeville, South Carolina, US
1  22001.0     Acadia  ...      0          Acadia, Louisiana, US
2  51001.0   Accomack  ...      0         Accomack, Virginia, US
3  16001.0        Ada  ...      0                 Ada, Idaho, US
4  19001.0      Adair  ...      0                Adair, Iowa, US

[5 rows x 12 columns]

In [84]:
# get state data
data = df[(df['Country_Region']=='US')&(df['Province_State'].isin(['Arkansas','New York', 'Louisiana']))]
df_state = data.groupby(['Province_State']).agg({'Confirmed':'sum', 'Deaths':'sum', 'Recovered':'sum'})
df_state

                Confirmed  Deaths  Recovered
Province_State
Arkansas              335       2          0
Louisiana            2304      83          0
New York            37877     385          0

In [85]:
# get the county data
data = df[(df['Country_Region']=='US')&(df['Province_State'].isin(['Arkansas']))&(df['Admin2'].isin(['Benton', 'Washington']))]
df_county = data.groupby(['Admin2']).agg({'Confirmed':'sum', 'Deaths':'sum', 'Recovered':'sum'})
df_county

            Confirmed  Deaths  Recovered
Admin2
Benton             18       0          0
Washington         10       0          0

In [0]:
df_state_county = pd.concat([df_state, df_county])
df_state_county.reset_index(inplace=True)
df_state_county.rename(columns = {'index':'Country/Region', 'Confirmed':'Cases'}, inplace=True)

In [91]:
df_state_county

  Country/Region  Cases  Deaths  Recovered
0       Arkansas    335       2          0
1      Louisiana   2304      83          0
2       New York  37877     385          0
3         Benton     18       0          0
4     Washington     10       0          0

In [92]:
df_state_county = df_state_county.loc[:,['Country/Region', 'Cases', 'Deaths', 'Recovered', 'PCases', 'PDeaths',
       'PRecovered']]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [0]:
df_state_county.fillna(0, inplace=True)

In [96]:
df_state_county

  Country/Region  Cases  Deaths  Recovered  PCases  PDeaths  PRecovered
0       Arkansas    335       2          0     0.0      0.0         0.0
1      Louisiana   2304      83          0     0.0      0.0         0.0
2       New York  37877     385          0     0.0      0.0         0.0
3         Benton     18       0          0     0.0      0.0         0.0
4     Washington     10       0          0     0.0      0.0         0.0

#### DRAFT

In [0]:
dfc_cases = dfc_cases.reset_index()

In [0]:
dfc_state = df_state[['Confirmed']].reset_index()
dfc_state.columns = dfc_cases.columns

In [0]:
dfc_cases = pd.concat([dfc_cases[dfc_cases['Country/Region'].isin(['US', 'China'])], dfc_state], axis=0)

In [0]:
dfc_cases.set_index('Country/Region', inplace=True)

In [0]:
dfc_cases = dfc_cases.iloc[:,0]

In [133]:
dfc_cases

Country/Region
China        81661
US           65778
Arkansas       280
Louisiana     1795
New York     30841
Name: 3/25/20, dtype: int64

In [135]:
type(dfc_cases)

pandas.core.series.Series

In [0]:
dfc_deaths = dfc_deaths.reset_index()
dfc_state = df_state[['Deaths']].reset_index()
dfc_state.columns = dfc_deaths.columns
dfc_deaths = pd.concat([dfc_deaths[dfc_deaths['Country/Region'].isin(['US', 'China'])], dfc_state], axis=0)
dfc_deaths.set_index('Country/Region', inplace=True)

In [0]:
dfc_deaths = dfc_deaths.iloc[:,0]

In [0]:
dfc_recovered = dfc_recovered.reset_index()
dfc_state = df_state[['Recovered']].reset_index()
dfc_state.columns = dfc_recovered.columns
dfc_recovered = pd.concat([dfc_recovered[dfc_recovered['Country/Region'].isin(['US', 'China'])], dfc_state], axis=0)
dfc_recovered.set_index('Country/Region', inplace=True)

In [0]:
dfc_recovered = dfc_recovered.iloc[:, 0]

In [0]:
#hide
dfc_recovered = dft_cases.copy()
dfc_recovered.loc[:, dft_cases.columns[4:]] = 0
dfc_recovered

    Province/State         Country/Region        Lat  ...  3/23/20  3/24/20  3/25/20
0              NaN            Afghanistan  33.000000  ...        0        0        0
1              NaN                Albania  41.153300  ...        0        0        0
2              NaN                Algeria  28.033900  ...        0        0        0
3              NaN                Andorra  42.506300  ...        0        0        0
4              NaN                 Angola -11.202700  ...        0        0        0
..             ...                    ...        ...  ...      ...      ...      ...
240            NaN                  Libya  26.335100  ...        0        0        0
241            NaN     West Bank and Gaza  31.952200  ...        0        0        0
242            NaN          Guinea-Bissau  11.803700  ...        0        0        0
243            NaN                   Mali  17.570692  ...        0        0        0
244            NaN  Saint Kitts and Nevis  17.357822  ...        0        0        0

[245 rows x 68 columns]

In [0]:

dfp_cases = dfc_cases
dfp_deaths = dfc_deaths
dfp_recovered = dfc_recovered

### Draft

# Creat Table to render

In [0]:
df_table = (pd.DataFrame(dict(
    Cases=dfc_cases, Deaths=dfc_deaths, Recovered=dfc_recovered,
    PCases=dfp_cases, PDeaths=dfp_deaths, PRecovered=dfp_recovered)).sort_values(by=['Cases', 'Deaths'], ascending=[False, False])
             .reset_index())

In [107]:
df_table.columns

Index(['Country/Region', 'Cases', 'Deaths', 'Recovered', 'PCases', 'PDeaths',
       'PRecovered'],
      dtype='object')

In [0]:
# ADD THE STATE AND COUNTY
df_table = pd.concat([df_state_county, df_table])

In [109]:
df_table

                       Country/Region  Cases  ...  PDeaths  PRecovered
0                            Arkansas    335  ...      0.0         0.0
1                           Louisiana   2304  ...      0.0         0.0
2                            New York  37877  ...      0.0         0.0
3                              Benton     18  ...      0.0         0.0
4                          Washington     10  ...      0.0         0.0
..                                ...    ...  ...      ...         ...
170                           Somalia      2  ...      0.0         0.0
171                             Libya      1  ...      0.0         0.0
172                  Papua New Guinea      1  ...      0.0         0.0
173  Saint Vincent and the Grenadines      1  ...      0.0         0.0
174                       Timor-Leste      1  ...      0.0         0.0

[180 rows x 7 columns]

In [110]:
for c in 'Cases, Deaths, Recovered'.split(', '):
    df_table[f'{c} (+)'] = (df_table[c] - df_table[f'P{c}']).clip(0)  # DATA BUG
df_table['Fatality Rate'] = (100 * df_table['Deaths'] / df_table['Cases']).round(1)
df_table['Continent'] = df_table['Country/Region'].map(mapping['map.continent'])
df_table.head(15)

   Country/Region  Cases  Deaths  ...  Recovered (+)  Fatality Rate      Continent
0        Arkansas    335       2  ...            0.0            0.6            NaN
1       Louisiana   2304      83  ...            0.0            3.6            NaN
2        New York  37877     385  ...            0.0            1.0            NaN
3          Benton     18       0  ...            0.0            0.0            NaN
4      Washington     10       0  ...            0.0            0.0            NaN
0              US  83836    1209  ...          505.0            1.4  North America
1           China  81782    3291  ...         2324.0            4.0           Asia
2           Italy  80589    8215  ...         4289.0           10.2         Europe
3           Spain  57786    4365  ...         4890.0            7.6         Europe
4         Germany  43938     267  ...         5440.0            0.6         Europe
5          France  29551    1698  ...         4943.0            5.7         Europe
6            Iran  29406    2234  ...         2822.0            7.6           Asia
7  United Kingdom  11812     580  ...           83.0            4.9         Europe
8     Switzerland  11811     191  ...          116.0            1.6         Europe
9     South Korea   9241     131  ...         2604.0            1.4           Asia

[15 rows x 12 columns]

In [104]:
# #hide
# df_table = (pd.DataFrame(dict(
#     Cases=dfc_cases, Deaths=dfc_deaths, Recovered=dfc_recovered,
#     PCases=dfp_cases, PDeaths=dfp_deaths, PRecovered=dfp_recovered))
#              .sort_values(by=['Cases', 'Deaths'], ascending=[False, False])
#              .reset_index())
# df_table.rename(columns={'index': 'Country/Region'}, inplace=True)
# for c in 'Cases, Deaths, Recovered'.split(', '):
#     df_table[f'{c} (+)'] = (df_table[c] - df_table[f'P{c}']).clip(0)  # DATA BUG
# df_table['Fatality Rate'] = (100 * df_table['Deaths'] / df_table['Cases']).round(1)
# df_table['Continent'] = df_table['Country/Region'].map(mapping['map.continent'])
# df_table.head(15)

    Country/Region  Cases  Deaths  ...  Recovered (+)  Fatality Rate      Continent
0               US  83836    1209  ...            505            1.4  North America
1            China  81782    3291  ...           2324            4.0           Asia
2            Italy  80589    8215  ...           4289           10.2         Europe
3            Spain  57786    4365  ...           4890            7.6         Europe
4          Germany  43938     267  ...           5440            0.6         Europe
5           France  29551    1698  ...           4943            5.7         Europe
6             Iran  29406    2234  ...           2822            7.6           Asia
7   United Kingdom  11812     580  ...             83            4.9         Europe
8      Switzerland  11811     191  ...            116            1.6         Europe
9      South Korea   9241     131  ...           2604            1.4           Asia
10     Netherlands   7468     435  ...              4            5.8         Europe
11         Austria   6909      49  ...            103            0.7         Europe
12         Belgium   6235     220  ...            412            3.5         Europe
13          Canada   4042      38  ...            174            0.9  North America
14          Turkey   3629      75  ...             26            2.1           Asia

[15 rows x 12 columns]

In [0]:
#hide

#delete problematic countries from table
df_table = df_table[df_table['Country/Region'] != 'Cape Verde']
df_table = df_table[df_table['Country/Region'] != 'Cruise Ship']
df_table = df_table[df_table['Country/Region'] != 'Kosovo']

In [113]:
#hide
# world, china, europe, us
metrics = ['Cases', 'Deaths', 'Recovered', 'Cases (+)', 'Deaths (+)', 'Recovered (+)']
#metrics = ['Cases', 'Deaths', 'Recovered']
s_china = df_table[df_table['Country/Region'].eq('China')][metrics].sum().add_prefix('China ')
s_us = df_table[df_table['Country/Region'].eq('US')][metrics].sum().add_prefix('US ')
s_eu = df_table[df_table['Continent'].eq('Europe')][metrics].sum().add_prefix('EU ')
summary = {'updated': pd.to_datetime(dt_today), 'since': pd.to_datetime(dt_5ago)}
summary = {**summary, **df_table[metrics].sum(), **s_china, **s_us, **s_eu}
summary

{'Cases': 570064.0,
 'Cases (+)': 265670.0,
 'China Cases': 81782.0,
 'China Cases (+)': 477.0,
 'China Deaths': 3291.0,
 'China Deaths (+)': 32.0,
 'China Recovered': 74181.0,
 'China Recovered (+)': 2324.0,
 'Deaths': 24439.0,
 'Deaths (+)': 11467.0,
 'EU Cases': 283771.0,
 'EU Cases (+)': 132938.0,
 'EU Deaths': 16394.0,
 'EU Deaths (+)': 8904.0,
 'EU Recovered': 29623.0,
 'EU Recovered (+)': 20628.0,
 'Recovered': 122150.0,
 'Recovered (+)': 30463.0,
 'US Cases': 83836.0,
 'US Cases (+)': 58347.0,
 'US Deaths': 1209.0,
 'US Deaths (+)': 902.0,
 'US Recovered': 681.0,
 'US Recovered (+)': 505.0,
 'since': Timestamp('2020-03-21 00:00:00'),
 'updated': Timestamp('2020-03-26 00:00:00')}

In [114]:
#hide
dft_ct_cases = dft_cases.groupby(COL_REGION)[dt_cols].sum()
dft_ct_new_cases = dft_ct_cases.diff(axis=1).fillna(0).astype(int)
dft_ct_new_cases.head()

                1/22/20  1/23/20  1/24/20  ...  3/24/20  3/25/20  3/26/20
Country/Region                             ...
Afghanistan           0        0        0  ...       34       10       10
Albania               0        0        0  ...       19       23       28
Algeria               0        0        0  ...       34       38       65
Andorra               0        0        0  ...       31       24       36
Angola                0        0        0  ...        0        0        1

[5 rows x 65 columns]

In [119]:
df_table.head(100)

   Country/Region  Cases  Deaths  ...  Recovered (+)  Fatality Rate      Continent
0        Arkansas    335       2  ...            0.0            0.6            NaN
1       Louisiana   2304      83  ...            0.0            3.6            NaN
2        New York  37877     385  ...            0.0            1.0            NaN
3          Benton     18       0  ...            0.0            0.0            NaN
4      Washington     10       0  ...            0.0            0.0            NaN
..            ...    ...     ...  ...            ...            ...            ...
90           Oman    109       0  ...           11.0            0.0           Asia
91      Venezuela    107       0  ...           15.0            0.0  South America
92      Sri Lanka    106       0  ...            6.0            0.0           Asia
93        Senegal    105       0  ...            4.0            0.0         Africa
94       Cambodia     96       0  ...            9.0            0.0           Asia

[100 rows x 12 columns]

In [127]:
print(get_template(paths['overview']))

TypeError: ignored

'{# D, table, newcases, np, pd  #}\n{% set COL_REGION = COL_REGION or \'Country/Region\' %}\n{% set KPI_CASE = KPI_CASE or \'World\' %}\n{% set KPIS_INFO = KPIS_INFO or [{\'title\': \'China\', \'prefix\': \'China\'}, {\'title\': \'Europe\', \'prefix\': \'EU\'}, {\'title\': \'U.S.\', \'prefix\': \'US\'}] %}\n{% set LEGEND_DOMAIN = LEGEND_DOMAIN or [10, 100, 1000, np.inf] %}\n{% set WIDTH_REGION, WIDTH_STRIP = 120, 140 %}\n{% set STRIP_WIDTH = (WIDTH_REGION // newcases.shape[1] + 1) %}\n{% set LEGEND_RANGE = [\'rgba(255, 152, 0, 0.1)\', \'rgba(255, 152, 0, 0.4)\', \'rgba(255, 152, 0, 0.7)\', \'rgba(255, 152, 0, 1)\'] %}\n{% set TOPLINKS = TOPLINKS or [\n  {\'title\': \'World\', \'href\': \'../covid-overview/\'}, {\'title\': \'US\', \'href\': \'../covid-overview-us/\'},\n  {\'title\': \'Europe\', \'href\': \'../covid-overview-europe/\'}] %}\n{% set lastdays = (D[\'updated\'] - D[\'since\']).days %}\n\n{% macro kpi(name, number, growth, growcls=\'\') -%}\n  <div class="kpi">\n    <div class="kname">{{ name }}</div>\n    <div class="num">{{ \'{0:,.0f}\'.format(number) }}</div>\n    <div class="grow {{ growcls }}">(<b>{{ \'{0:+,.0f}\'.format(growth) }}</b>)</div>\n  </div>\n{%- endmacro %}\n\n{% macro kpiblocksm(prefix=\'\', title=KPI_CASE) -%}\n  <div class="kpi-sm">\n    <div class="kpi-hed">{{ title }}</div>\n    <div class="d-flex kpi-box">\n      {{ kpi(name=\'Cases\', number=D[prefix + \' Cases\'], growth=D[prefix + \' Cases (+)\']) }}\n      {{ kpi(name=\'Deaths\', number=D[prefix + \' Deaths\'], growth=D[prefix + \' Deaths (+)\']) }}\n    </div>\n  </div>\n{%- endmacro %}\n\n{% macro toplinks() -%}\n<div class="text-center toplinksgithub">\n  {% for link in TOPLINKS %}<a href="{{ link[\'href\'] }}">{{ link[\'title\'] }}</a>{% endfor %}\n</div>\n{%- endmacro %}\n\n{% macro narrative() -%}\n{% if KPI_CASE == \'World\' %}\n  In the last <b>{{ lastdays }} days</b>, <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'Cases (+)\']) }}</b> new Coronavirus cases have been reported worldwide.\n  Of which <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'EU Cases (+)\']) }}</b> ({{ "{0:.0%}".format(D[\'EU Cases (+)\'] / D[\'Cases (+)\']) }}) are from <b>Europe</b>.\n  <b>China</b> has reported <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'China Cases (+)\']) }}</b> new cases in the last {{ lastdays }} days.\n{% elif KPI_CASE == \'US\' %}\n  In the last <b>{{ lastdays }} days</b>, <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'Cases (+)\']) }}</b> new Coronavirus cases have been reported in the US.\n  Of which <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'NY Cases (+)\']) }}</b> ({{ "{0:.0%}".format(D[\'NY Cases (+)\'] / D[\'Cases (+)\']) }}) are from <b>New York</b> State.\n  <b>Washington</b> has reported <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'WA Cases (+)\']) }}</b> new cases in the last {{ lastdays }} days.\n{% elif KPI_CASE == \'Europe\' %}\n  In the last <b>{{ lastdays }} days</b>, <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'Cases (+)\']) }}</b> new Coronavirus cases have been reported in the Europe.\n  Of which <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'IT Cases (+)\']) }}</b> ({{ "{0:.0%}".format(D[\'IT Cases (+)\'] / D[\'Cases (+)\']) }}) are from <b>Italy</b>.\n  <b>Spain</b> has reported <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'SP Cases (+)\']) }}</b> new cases in the last {{ lastdays }} days.\n{% elif KPI_CASE == \'Asia\' %}\n  In the last <b>{{ lastdays }} days</b>, <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'Cases (+)\']) }}</b> new Coronavirus cases have been reported in Asia.\n  Of which <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'CN Cases (+)\']) }}</b> ({{ "{0:.0%}".format(D[\'CN Cases (+)\'] / D[\'Cases (+)\']) }}) are from <b>China</b>.\n  <b>India</b> has reported <b class="color-neg">{{ \'{0:,.0f}\'.format(D[\'IN Cases (+)\']) }}</b> new cases in the last {{ lastdays }} days.\n{% else %}\n  \'\'\n{% endif %}\n{%- endmacro %}\n\n{% macro plotstrip(arr) -%}\n  <div class="d-flex" style="height:15px;">\n    {% set colors = np.digitize(arr, LEGEND_DOMAIN) %}\n    {% for i, v in enumerate(arr) %}\n    <div style="width:{{ STRIP_WIDTH }}px;background:{{ LEGEND_RANGE[colors[i]] if (v) else \'#eee\' }};border-right:1px solid rgba(255,255,255,0.5);"></div>\n    {% endfor %}\n  </div>\n{%- endmacro %}\n\n{% macro legend() -%}\n<svg width="100" height="20" viewBox="0,0,100,20" style="overflow: visible; display: block;">\n  <g>\n    {% for i, _ in enumerate(LEGEND_DOMAIN) %}\n    <rect x="{{ 25 * i }}"  y="8" width="25" height="10" fill="{{ LEGEND_RANGE[i] }}"></rect>\n    {% endfor %}\n  </g>\n  <g style="font-size:10px;text-anchor:middle;">\n    {% for i, x in enumerate(LEGEND_DOMAIN[:-1], 1) %}\n    <g transform="translate({{ 25 * i }}, 6)"><text>{{ x }}</text></g>\n    {% endfor %}\n    </g>\n</svg>\n{%- endmacro %}\n\n<div class="overview">\n  {{ toplinks() }}\n  <div>\n    <div class="kpi-hed text-center">{{ KPI_CASE }}</div>\n    <div class="d-flex kpi-box">\n      {{ kpi(name=\'Confirmed Cases\', number=D[\'Cases\'], growth=D[\'Cases (+)\']) }}\n      {{ kpi(name=\'Deaths\', number=D[\'Deaths\'], growth=D[\'Deaths (+)\']) }}\n    </div>\n  </div>\n  <p class="text-center text-uppercase fs9">Updated on <b>{{ D[\'updated\'].strftime(\'%B %d, %Y\') }}</b> ( +change since {{ lastdays }} days ago.)</p>\n  <div class="d-flex" style="justify-content:space-between;">\n    {% for kpi in KPIS_INFO %}\n    {{ kpiblocksm(**kpi) }}\n    {% endfor %}\n  </div>\n  <p class="text-center" style="font-size: 14px;max-width: 400px;">{{ narrative() }}</p>\n  <table class="table" style="width:575px;">\n    <thead>\n      <tr>\n        <th class="text-right" style="width:{{ WIDTH_REGION }}px;"></th>\n        <th class="text-left" style="width:{{ WIDTH_STRIP }}px;">{{ legend() }}</th>\n        <th colspan="7"></th>\n      </tr>\n      <tr>\n        <th class="text-right" style="width:{{ WIDTH_REGION }}px;">{{ {\'Country/Region\': \'Country\', \'Province/State\': \'State\'}.get(COL_REGION, \'Location\') }}</th>\n        <th class="text-left" style="width:{{ WIDTH_STRIP }}px;">New Cases</th>\n        <th class="text-left" colspan="2">Total Cases</th>\n        <th colspan="2">Deaths</th>\n        <th class="fs9" >Fatality</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr style="font-size:9px;">\n        <td></td>\n        <td style="display:flex;justify-content:space-between;">\n          <div>{{ pd.to_datetime(newcases.columns[0]).strftime(\'%b. %d\') }}</div>\n          <div>{{ pd.to_datetime(newcases.columns[-1]).strftime(\'%b. %d\') }}</div>\n        </td>\n        <td></td>\n        <td colspan="4" class="text-left change" style="font-size: 9px;">(+NEW) since {{ D[\'since\'].strftime(\'%b, %d\') }}</td>\n        <td></td>\n        <td></td>\n      </tr>\n    {% for index, row in table.iterrows() %}\n      <tr>\n        <td class="mw"><b>{{ row[COL_REGION] }}</b></td>\n        <td style="vertical-align: middle;">{{ plotstrip(arr=newcases.loc[row[COL_REGION]].values) }}</td>\n        <td class="pl1"><b>{{ \'{0:,.0f}\'.format(row[\'Cases\']) }}</b></td>\n        <td class="change neg">(<b>{{ \'{0:+,.0f}\'.format(row[\'Cases (+)\']) }}</b>)</td>\n        <td class="pl1">{{ \'{0:,.0f}\'.format(row[\'Deaths\']) }}</td>\n        <td class="change neg">(<b>{{ \'{0:+,.0f}\'.format(row[\'Deaths (+)\']) }}</b>)</td>\n        <td class="pl1">{{ row[\'Fatality Rate\'] }}%</td>\n      </tr>\n    {% endfor %}\n    </tbody>\n  </table>\n</div>\n<style>\n.overview {\n  min-width: 500px;\n  font-size: 10px;\n  font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important;\n}\n.overview .toplinksgithub a {\n  background: #d3d3d3;\n  font-size: 14px;\n  color: #1d87ae;\n  margin: 10px;\n  padding: 2px 10px;\n}\n.overview p {\n  margin: 6px auto !important;\n  padding: 0;\n}\n@media screen and (max-width: 660px) {\n  .overview p { max-width: none !important; }\n}\n.overview b {\n  font-weight: bolder;\n}\n.overview .kpi-hed {\n  font-weight: bold;\n  font-size: 20px;\n}\n.overview .kpi-box {\n  justify-content: space-around;\n  background: #ececec;\n  padding: 10px 0 !important;\n  margin: 5px 0 !important;\n  min-width: 180px;\n}\n.overview .kpi .num {\n  font-size: 40px;\n  line-height: 40px;\n  font-weight: bold;\n}\n.overview .kpi .grow {\n  line-height: 12px;\n  font-size: 12px;\n}\n.overview .table .change.pos , .overview .kpi .grow.pos {\n  color: #118822;\n}\n.overview .table .change.neg, .overview .kpi .grow, .color-neg {\n  color: #cc1100;\n}\n.overview p .color-neg {\n  background: #ececec;\n  padding: 0 5px;\n}\n.overview .kpi .kname {\n  font-size: 12px;\n}\n.overview .kpi-sm .kpi-hed {\n  font-size: 14px;\n  line-height: 10px;\n  padding-top: 10px !important;\n}\n.overview .kpi-sm .num {\n  font-size: 20px;\n  line-height: 20px;\n}\n.overview .kpi-sm .kname {\n  font-size: 11px;\n  line-height: 10px;\n}\n.overview .table {\n  border-collapse: collapse;\n  margin: auto !important;\n  text-align: right;\n  margin-top: 14px;\n  color: black;\n  font-size: 13px;\n  display: table !important;\n}\n.overview .table .change {\n  color: #999;\n  font-size: 80%;\n  text-align: start;\n  vertical-align: inherit;\n  font-weight: normal;\n  padding-left: 1px !important;\n}\n.overview .table th {\n  font-weight: normal;\n}\n.overview .table tbody tr {\n  border-bottom: 1px solid #eee;\n  background: none;\n}\n.overview .table td, .overview .table th {\n  padding: 1px 1px 1px 10px !important;\n  vertical-align: middle;\n  border: none;\n  background: none;\n}\n.overview .table th {\n  text-align: center;\n  text-transform: uppercase;\n}\n.overview .table thead {\n  border-bottom: 1px solid black;\n}\n.overview .fs9 {\n  font-size: 9px;\n}\n.overview .d-flex {\n  display: flex;\n}\n.overview .text-center { text-align: center !important; }\n.overview .text-left { text-align: left !important; }\n.overview .text-right { text-align: right !important; }\n.overview .text-uppercase { text-transform: uppercase !important; }\n.overview div {\n  margin: 0 !important;\n  padding: 0 !important;\n}\n</style>'

In [0]:
template = Template(get_template(paths['overview']))

In [124]:
html = template.render(D=summary, 
                table=df_table.tail(),
                newcases=dft_ct_new_cases.loc[:, dt_cols[LAST_DATE_I-50]:dt_cols[LAST_DATE_I]],
                np=np,
                pd=pd,
                enumerate=enumerate
                )
HTML(f'<div>{html}<div>')

In [118]:
#hide_input
template = Template(get_template(paths['overview']))
html = template.render(
    D=summary, table=df_table.head(2),
    newcases=dft_ct_new_cases.loc[:, dt_cols[LAST_DATE_I-50]:dt_cols[LAST_DATE_I]],
    np=np, pd=pd, enumerate=enumerate)
HTML(f'<div>{html}</div>')

UndefinedError: ignored

AttributeError: ignored

In [154]:
Template(get_template(paths['overview']))

In [155]:
paths['overview']

'https://raw.githubusercontent.com/pratapvardhan/notebooks/master/covid19/overview.tpl'

In [0]:
import numpy as np
import pandas as pd
from jinja2 import Template
from IPython.display import HTML

In [0]:

#hide
from pathlib import Path
if not Path('covid_overview.py').exists():
    ! wget https://raw.githubusercontent.com/pratapvardhan/notebooks/master/covid19/covid_overview.py

--2020-03-26 17:14:45--  https://raw.githubusercontent.com/pratapvardhan/notebooks/master/covid19/covid_overview.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3810 (3.7K) [text/plain]
Saving to: â€˜covid_overview.pyâ€™

covid_overview.py   100%[===================>]   3.72K  --.-KB/s    in 0s

2020-03-26 17:14:46 (38.5 MB/s) - â€˜covid_overview.pyâ€™ saved [3810/3810]

In [0]:
import covid_overview as covid

COL_REGION = 'Province/State'   
# Confirmed, Recovered, Deaths
US_POI = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
    'Colorado', 'Connecticut', 'Delaware', 'Diamond Princess',
    'District of Columbia', 'Florida', 'Georgia', 'Grand Princess',
    'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
    'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
    'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
    'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
    'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
    'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
    'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
    'Vermont', 'Virgin Islands', 'Virginia', 'Washington',
    'West Virginia', 'Wisconsin', 'Wyoming']

filter_us = lambda d: d[d['Country/Region'].eq('US') & d['Province/State'].isin(US_POI)]

kpis_info = [
    {'title': 'New York', 'prefix': 'NY'},
    {'title': 'Washington', 'prefix': 'WA'},
    {'title': 'California', 'prefix': 'CA'}]

data = covid.gen_data(region=COL_REGION, filter_frame=filter_us, kpis_info=kpis_info)

HTTPError: ignored

Visualizations by [Pratap Vardhan](https://twitter.com/PratapVardhan)[^1]

[^1]: Source: ["COVID-19 Data Repository by Johns Hopkins CSSE"](https://systems.jhu.edu/research/public-health/ncov/) [GitHub repository](https://github.com/CSSEGISandData/COVID-19). Link to [notebook](https://github.com/pratapvardhan/notebooks/blob/master/covid19/covid19-overview.ipynb), [orignal interactive](https://gramener.com/enumter/covid19/)